<section class="m-0 p-0">
  <div class="jumbotron p-2">
    <div class="container p-0">
      <form name="form" (ngSubmit)="f.form.valid && submitForm(f)" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !story.valid }">
          <label class="sr-only" for="story">¿Qué estás pensando?</label>
          <textarea id="story" maxlength="150" rows="3" class="form-control" placeholder="¿Qué estás pensando?" name="story" [(ngModel)]="model.story" #story="ngModel" required></textarea>
          <div *ngIf="f.submitted && !story.valid" class="help-block">Story required</div>
        </div>
        <ul class="nav d-flex justify-content-start">
          <li class="nav-item p-2">
            <span data-toggle="collapse" data-target="#more" (click)="toggleMoreIcon()"><i class="icon-{{ moreIcon }}"></i></span>
          </li>
          <li class="nav-item p-2">
            <label><input type="file" multiple (change)="fileChange($event)" class="form-control" name="screenshot" hidden><i class="icon-picture"></i></label>
          </li>
          <li class="nav-item ml-auto p-2"><span>{{ 150 - model.story?.length }}</span></li>
        </ul>
        <div class="form-group collapse" id="more" [ngClass]="{ 'has-error': f.submitted && !more.valid }">
          <label class="sr-only" for="more">More</label>
          <textarea type="text" rows="5" class="form-control" placeholder="More..." name="more" [(ngModel)]="model.more" #more="ngModel"></textarea>
        </div>
            <div class="container ml-0 mr-0 pl-0 pr-0">
              <ul class="list-group row ml-0 mr-0 mb-2 pl-0 pr-0">
                <li *ngFor="let file of filesList" class="list-group-item d-flex align-items-center justify-content-start m-0 p-0">
                  <span class="p-1" role="tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{ file?.name }}">
                  <img [src]="filePreviewPath[filesList.indexOf(file)]" *ngIf="filePreviewPath[filesList.indexOf(file)]" width="30"/>
                </span>
                  <span class="p-1">
                  {{ file?.size / 1000 | number:'.1-2' }} KB
                </span>
                  <span (click)="filePreviewPath.splice(filesList.indexOf(file), 1); filesList.splice(filesList.indexOf(file),1)" class="fa fa-remove ml-auto p-1"></span>
                  <!--
                    <button type="button" class="btn btn-success btn-xs"
                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="icon-cloud-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs"
                            (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="icon-ban"></span> Cancel
                    </button>
                    -->
                </li>
              </ul>
            </div>
            <div class= "m-2" *ngIf="queueProgress > 0">
                      <div class="progress-bar progress-bar-info progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuemin="0" aria-valuemax="100" [attr.aria-valuenow]="queueProgress"
                        [ngStyle]="{ 'width': queueProgress + '%' }">{{queueProgress}}%</div>
            </div>
            <button class="btn btn-primary" [disabled]="!f.valid" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
