footer .container {
  font-size: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p {
  flex-wrap: wrap;
}
a {
  &:hover {
    text-decoration: underline;
  }
}
