/* You can add global styles to this file, and also import other style files */

.jumbotron {
  background: #55008c;
  background-image: url("/assets/img/bg-pattern-2.png"); /* fallback */
  background-image: url("/assets/img/bg-pattern-2.png"), linear-gradient(to bottom right, #b7178c, #55008c); /* W3C */
}
