<!-- LOGGED IN -->
<nav *ngIf="loggedIn" class="navbar sticky-top navbar-toggleable-md navbar-inverse bg-inverse" id="mainNav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        {{user.displayName}} <i class="fa fa-user"></i>
  </button>
  <div class="container">
    <a class="navbar-brand" href="#page-top">Tecnual</a>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/settings']">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- NOT LOGGED IN -->
<nav *ngIf="!loggedIn" class="navbar sticky-top navbar-toggleable-md navbar-inverse bg-inverse" id="mainNav2">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2" aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
        Menu <i class="fa fa-bars"></i>
  </button>
  <div class="container">
    <a class="navbar-brand" href="#page-top">Tecnual</a>
    <div class="collapse navbar-collapse" id="navbar2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Sing in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-outline" [routerLink]="['/register']">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
