<app-navbar></app-navbar>

<h2>Account Settings</h2>
<form name="form-horizontal" (ngSubmit)="f.form.valid && changeSettings()" #f="ngForm" novalidate>
  <label class="sr-only" for="displayName">Name</label>
  <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !displayName.valid }">
    <span class="input-group-addon"><i class="fa fa-user"></i></span>
    <span class="input-group-addon">Name</span>
    <input type="text" class="form-control" placeholder="Name" name="displayName" [(ngModel)]="user.displayName" #displayName="ngModel" required />
    <div *ngIf="f.submitted && !displayName.valid" class="help-block">Name is required</div>
  </div>
  <br>
  <label class="sr-only" for="email">Email</label>
  <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
    <div class="input-group-addon">Email</div>
    <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="user.email" #email="ngModel" required />
    <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
  </div>
  <br>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-outline-primary">Change Changes</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
    <a [routerLink]="['/']" class="btn btn-link-warning">Cancel</a>
  </div>
</form>
